@media (max-width: 650px) {
    .nav-menu {
      display: none;
      transform: 0.9s;
    }
    .mediaQuery-navbar {
      display: inline;
    }
    .project-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  @media (max-width: 378px) {
.page{
  margin: 0;
  max-width: 100%;
  object-fit: contain;
}
    .nav-menu {
      display: none;
      transform: 0.9s;
    }
    .mediaQuery-navbar {
      display: inline;
      
    }
    .mediaQuery-navbar ul {
      font-size: 10px;
      padding-right:1rem;
    }
    .projects{
      max-width: 100%;
    }
    .project-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  @media (min-width: 650px) {
    .mediaQuery-navbar {
      display: none;
    }
  }
  
  